body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #232323;
    overflow-x: hidden;
}

main, nav, article, aside, section, header, footer {
    display: block;
}

* {
    padding: 0px;
    margin: 0px;
}

main{
    width: 86.11111111111111%;
    margin-left: 6.944444444444445%;
    margin-right: 6.944444444444445%;
    height: 100%;
}

#wrapper {
    margin: 0px auto;
    min-height: 100%;
}

@media only screen and (min-width:1000px) {
    /*-----HEADER-----*/
    header {
        position: fixed;
        width: 100vw;
    }
    #fixedHead {
        position: fixed;
        z-index: 3;
        height: 140px;
        width: 100vw;
        background-color: #00000091;
    }
    .navbar {
        position: fixed;
        z-index: 12;
    }
    .container {
        margin-top: 4vh;
        margin-right: 2vw;
    }
    #logo {
        background-image: url("../images/site_logo.png");
        height: 100px;
        width: 190px;
        top: 0px;
        left: 0px;
        position: absolute;
        float: left;
    }
    /*-----NAV-----*/
    nav {
        width: 100vw;
        position: absolute;
        top: 140px;
        font-family: Helvetica, sans-serif;
        text-align: center;
        justify-content: center;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    /*-----MAIN-----*/
    main {
        padding-bottom: 40px;
        position: relative;
        top: 25vh;
    }
    #textbox {
        width: 100%;
        border-radius: 5px;
    }
    #pageH1 {
        font-size: 32px;
        color: #d6d6d6;
        position: relative;
    }
    #siteSlogan {
        background-image: url("../images/Slogan.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: #000;
        position: relative;
        top: 15vh;
        height: 480px;
        width: 100%;
        display: block;
        float: left;
    }
    h2 {
        font-family: 'Alef', sans-serif;
        color: #d6d6d6;
        font-size: 22px;
        margin-left: 165px;
        margin-bottom: 50px;
    }
    .popType {
        position: relative;
        left: 100px;
        top: 20px;
    }
    .popType a {
        margin-left: 4vw;
    }
    .popObj {
        position: relative;
        left: 100px;
        top: 40px;
    }
    .popObj a {
        margin-left: 4vw;
    }
    /*-----VIRUS PAGE-----*/
    #VirusPage #wrapper {
        width: 750px;
    }
    #VirusPage #virusPic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #VirusPage #virusPic button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
    }
    #VirusPage #virusPic img {
        height: 200px;
        width: 200px;
    }
    .virImg {
        height: 200px;
        width: 200px;
    }
    #VirusPage #virusPic h3 {
        font-size: 26px;
        color: #d6d6d6;
        font-family: 'Alef', sans-serif;
        margin-bottom: 0px;
        text-align: left;
    }
    #VirusPage #virusPic h6 {
        font-size: 14px;
        color: #fff;
        font-family: 'Alef', sans-serif;
        margin-bottom: 0px;
        text-align: left;
    }
    #VirusPage .ratingStars {
        display: flex;
        color: #ffee58;
        margin-bottom: 40px;
    }
    #VirusPage .content {
        max-width: 500px;
        padding: 30px;
    }
    #VirusPage iframe {
        width: 80%;
        height: 250px;
    }
    #VirusPage .submit_buttons {
        display: flex;
        justify-content: center;
    }
    .lightFlex {
        display: flex;
        justify-content: center;
    }
    .right {
        margin-left: 40px;
    }
    /*Show More Button*/
    #showMore {
        height: 40px;
        width: 200px;
        background-color: #d6d6d6;
        position: absolute;
        margin: 20px auto;
        text-align: center;
    }
    /*-----FORM-----*/
    #buynow #wrapper {
        width: 85vw;
    }
    #buynow .submit_buttons {
        display: flex;
        justify-content: space-between;
    }
    #buynow .submit_buttons button {
        margin: 1vw;
    }
    #buynow2 .submit_buttons {
        display: flex;
        justify-content: flex-end;
    }
    #buynow2 .submit_buttons button {
        flex-basis: 33%;
    }
    .con {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #4d4d4d;
        padding: 20px;
        min-height: 50vh;
    }
    #feedback .con {
        justify-content: center;
        align-items: center;
    }
    .col-auto {
        padding: 0;
    }
    #victim_info p {
        font-weight: bold;
    }
    .con h1 {
        justify-content: center;
        align-items: center;
    }
    .con button {
        justify-content: center;
        align-items: center;
    }
    .col-sm-10 {
        width: 75%;
    }
    /*-----FOOTER-----*/
    footer {
        height: 40px;
        width: 100vw;
        position: relative;
        background-color: #cfd8dc;
        text-align: center;
        bottom: 0px;
        margin: 0px auto;
    }
    .clear {
        clear: both;
    }

}
    /*-----MOBILE-----*/
    @media screen and (max-width: 999px) {
        #siteSlogan {
            display: none;
        }
        #logo {
            background-image: url('../images/Mobile_Header.png');
            background-repeat: no-repeat;
            width: 100%;
            height: 202px;
            background-color: #000;
        }
        .popObj {
            left: 0px;
        }
        .popType {
            left: 0px;
        }
        .popContain {
            padding-top: 20vh;
        }
        footer {
            display: none;
        }
        #VirusPage #virusPic {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #VirusPage #virusPic button {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            overflow: hidden;
            outline: none;
        }
        #VirusPage #virusPic img {
            height: 200px;
            width: 200px;
        }
        .virImg {
            height: 200px;
            width: 200px;
        }
        #VirusPage #virusPic h3 {
            font-size: 26px;
            color: #d6d6d6;
            font-family: 'Alef', sans-serif;
            margin-bottom: 0px;
            text-align: left;
        }
        #VirusPage #virusPic h6 {
            font-size: 14px;
            color: #fff;
            font-family: 'Alef', sans-serif;
            margin-bottom: 0px;
            text-align: left;
        }
        #VirusPage .ratingStars {
            display: flex;
            color: #ffee58;
            margin-bottom: 40px;
        }
        #VirusPage .content {
            max-width: 500px;
            padding: 30px;
        }
        #VirusPage iframe {
            width: 80%;
            height: 250px;
        }
        #VirusPage .submit_buttons {
            display: flex;
            justify-content: center;
        }
        .lightFlex {
            display: flex;
            justify-content: center;
        }
        .right {
            margin-left: 40px;
        }
        /*Show More Button*/
        #showMore {
            height: 40px;
            width: 200px;
            background-color: #d6d6d6;
            position: absolute;
            margin: 20px auto;
            text-align: center;
        }
        /*-----FORM-----*/
        #buynow #wrapper {
            width: 85vw;
        }
        
        #textbox {
            width: 100%;
            border-radius: 5px;
        }
        #buynow .submit_buttons {
            display: flex;
            justify-content: space-between;
        }
        #buynow .submit_buttons button {
            margin: 1vw;
        }
        #buynow2 .submit_buttons {
            display: flex;
            justify-content: flex-end;
        }
        #buynow2 .submit_buttons button {
            flex-basis: 33%;
        }
        .con {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background-color: #4d4d4d;
            padding: 20px;
            min-height: 50vh;
        }
        #feedback .con {
            justify-content: center;
            align-items: center;
        }
        .col-auto {
            padding: 0;
        }
        #victim_info p {
            font-weight: bold;
        }
        .con h1 {
            justify-content: center;
            align-items: center;
        }
        .con button {
            justify-content: center;
            align-items: center;
        }
        .col-sm-10 {
            width: 75%;
        }
    }