html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-top: 100px;
  height: 100vh;
  color: #e5e5e5;
  margin: 0;
  background-color: #212027;
  
}

#layout1 {
  width: 7000px;
}

#layout1 h1 {
  float: left;
  position: absolute;
  top: 25vh;
  left: 20px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 58px;
}

#layout1 h2 {
  float: left;
  position: absolute;
  top: 35vh;
  left: 40px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 45px;
}

#layout2 .floating {
  text-align: center;
}

#layout2 h1{
  font-family: 'Fredericka the Great', cursive;
}

#layout2 h2{
  font-family: 'Electrolize', sans-serif;

}

#layout2 h3{
  font-family: 'Electrolize', sans-serif;

}

form {
  position: absolute;
  top: 13vh;
  margin: 0 auto;
  margin-left: 550px;
  font-family: 'Raleway', sans-serif;
}

.part {
  float: left;
  margin-right: 40vw;
}

.part1 {
  float: left;
  margin-right: 10vw;
}

.btn {
  margin-top: 30px;
}

#cat {
  width: 500px;
  position: absolute;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

/*CATWALK*/

.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  position: absolute;
  bottom: -20px;
  position: fixed;
  transform: scaleX(-1);
}

@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2391px;
  }
  /* Must be full height of sprite or skipping will happen.*/
}

/*TEXT FLOAT*/

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/*FLASHLIGHT*/

#bg {
  position: absolute;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100%;
  background-image: url("https://img.itch.zone/aW1hZ2UvMTMwMDQ5LzU5OTgzMi5wbmc=/original/c0%2Fhep.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#flashlight {
  font-size: 24px;
  color: white;
  font-family: Helvetica, sans-serif;
  background-color: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 110px 1px rgb(160, 196, 78), 0 0 0 9800px rgba(0, 0, 0, 0.9);
  /*first one is glare effect :) */
}